DTW_prec.csv
training_set.txt
vertebrate.xlsx
vertebrate.csv
pics/Picture16.jpg
pics/Picture15.jpg
pics/Picture14.jpg
pics/Picture13.jpg
pics/Picture12.jpg
pics/Picture11.jpg
pics/Picture10.jpg
pics/Picture9.jpg
pics/Picture8.jpg
pics/Picture7.jpg
pics/Picture6.jpg
pics/Picture5.jpg
pics/Picture4.jpg
pics/Picture3.jpg
pics/Picture2.jpg
pics/Picture1.jpg
